:root {
    --primaryColour: gray;
    --secondaryColour: black;
    --primaryTextColour: black;
    --secondaryTextColour: white;
    --innerCalculatorWidth: 300px;
}

* {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

/**************************
inner items (display and buttons)
**************************/
#calculator-inner-container {
    background-color: var(--primaryColour);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
}

/**************************
calculator display
**************************/

#calculator-display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: solid;
    border-width: 2px;
    height: 200px;
    width: var(--innerCalculatorWidth);
    margin-bottom: 20px;
    border-radius: 15px;
}

#top-display {
    background-color: aqua;
    border-style: solid;
    font-size: 1.5rem;
}

#bot-display {
    background-color: blueviolet;
    border-style: solid;
    font-size: 2rem;
}

/**************************
calculator buttons
**************************/

#calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: var(--innerCalculatorWidth);
    gap: .5rem;
    
}

#calculator-buttons > button {
    font-size: 1.2rem;
    height: 3em;
    border-radius: 2.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondaryColour);
    /* box-shadow: 0 5px #999; */
}

#calculator-buttons > button:hover {
    transform: scale(1.1);
    background-color: darkgray;
    color: var(--secondaryTextColour);
}

#calculator-buttons > button:hover {
    transform: scale(1.1);
    background-color: darkgray;
    color: var(--secondaryTextColour);
}

#calculator-buttons > button:active {
    transform: translateY(4px);
}

.all-clear {
    grid-column: 1 / 3;
}

.equal {
    grid-column: 3 / 5;
}

/**************************
footer settings
**************************/

.footer {
    display: flex;
}

